
:root {
    --platinum: #EBE8E7;
    --tango-pink: #EA7186;
    --mustard-yellow: #F2C76E;
    --blue-violet: #7A77B9;
    --lavender: #BD9DEA;
  }


.game-grid {
    gap: 5px; 
    background-color: var(--platinum) ;
    padding: 10px;
    margin: 10px auto;
}

.cell {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid var(--platinum) ;
    color: white;
    border-radius: .25cm;
    background-color: white;
}



.modal {
    display: none;
    position: fixed;
    /* z-index: 9999; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
  
.modal-content {
background-color: white;
border: 1px solid #ccc;
border-radius: 5px;
padding: 20px;
width: 300px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 10000; 
}

.row-heading, .column-heading{
    text-align: center;
    margin: auto;
}