


/* body {

} */


.game-grid {
    gap: 5px; 
    /* color: gray; */
    background-color: rgb(177, 173, 173);
    padding: 10px;
    height: 400px;
    width: 400px;
    margin: 10px;
}

.cell {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid gray;
    color: white;
    border-radius: .25cm;
    background-color: white;
}
